body {
    background-color: green;
}

.cointainer {
    background-image: url(images/2d64d0e822d28485efe44be0a913a550.jpg);
    background-position: center;
    padding-bottom: 20%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

#task-input {
    height: 50px;
    width: 70%;
    border-radius: 15px;
    border: solid green;
    margin-top: 10%;
    padding: 6px;
    font-size: 20px;
    margin-bottom: 3%;
}

button:hover {
    color: white;
    background-color: green;
}

.tasktracker {
    background-color: rgb(107, 209, 107);
    margin-top: 40px;
    font-weight: bolder;
    font-size: 50px;
    padding: 3px;

}


li {
    margin: 5px 0;
    color: black;
    background-color: rgb(107, 209, 107);
    width: 100%;
    text-align: start;
    min-height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

li span{
    display: inline;
    width: 75%;
    padding: 6px;
}

li button {
    width: 20%;
    font-size: 20px;
    background-color: white;
    min-height: 5px;
}

li input[type="checkbox"]{
   margin-right: 10px;
   width: 25px;
   height: 25px;
   margin-top: 10px;
   }

#show-completed {
   margin-right: 450px;
}




.completed {
    text-decoration: line-through white;
}